/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
  background: rgb(255, 255, 255) url(bg.jpg) repeat scroll top left;
  margin: 0pt;
}

div#body {
  width: 980px;

  margin-left: auto;
  margin-right: auto;
}

div#main {
  background: rgb(255, 255, 255) url(texture.jpg) repeat scroll top left;
  overflow: hidden;
  word-wrap: break-word;
  text-align: left;
  margin-top: -30px;
  margin-bottom: 4px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 2%;
  color: rgb(192, 188, 155);
  font-family: 'HoeflerText-Black', 'Hoefler Text', 'Times New Roman', serif;
  font-size: 11px;
  font-weight: bold;
}

.main_frame {
  width:100%;
  height:55px;
  background-repeat:repeat-x;
}
.main_frame.top {
  background-image:url('lace_top.png');
}
.main_frame.bottom {
  background-image:url('lace_bottom.png');
  margin-top: -30px;
}

.photo {
  float:left;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(34,25,25,0.4);
  -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
  -webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
}

.album {
  float:left;
  background: rgba(0, 0, 0, 0.6);
  height:200px;
  padding:10px;
  margin: 10px;
}

.album .thumbnail {
  height: 150px;
  overflow: hidden;
}

.album .thumbnail img {
  margin:auto;
  width:100%;
  position:relative;
}