/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require lightbox/lightbox.css
 *= require lightbox/screen.css
 *= require_tree .
 *= require_self
 */
body {
  background-image:url(/assets/lightbox/bg-checker.png);
  background-repeat:repeat;
}

p#contact {
  margin-left: 100px;
  padding-top: 32px;
  clear:both;
  color: rgb(55, 58, 60);
  font-family: 'Julius Sans One', sans-serif;
  font-size: 11pt;
  text-shadow: 0 -1px 0 black;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
 }

 P#contact a {
  color: #8ad459;
  text-decoration: none;
 }

img#title {
  margin-left:32px;
  margin-bottom: 10px;
}

div#body {
  width: 1070px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

div#main {
  width: 100%;
  background: rgb(226, 227, 206) repeat scroll top left;
  overflow: hidden;
  word-wrap: break-word;
  text-align: left;
  margin-top: -30px;
  margin-bottom: 4px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding-top: 16%;
  padding-bottom: 150px;
  
}

.main_frame {
  width:100%;
  height:55px;
  background-repeat:repeat-x;
}
.main_frame.top {
  background-image:url('lace_top.png');
}
.main_frame.bottom {
  background-image:url('lace_bottom.png');
  margin-top: -30px;
}

.photo {
  float:left;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(34,25,25,0.4);
  -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
  -webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
}

.photo .description {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Philosopher', sans-serif;
  font-size: 11pt;
  font-weight: bold;
  color: rgb(163, 163, 163);
  text-shadow: 0 0 0 black;
  line-height: 1em;
}

.album {
  float:left;
  background: rgb(255, 255, 255) url(album_texture.png) repeat scroll top left;
  height: 320px;
  width: 270px;
  padding: 1% 1% 20px 1%;
  margin: 0% 0.5% 10px 0.5%;
}

.album .description {
  font-family: 'Alegreya SC', serif;
  /*font-family: 'Montserrat Subrayada', sans-serif;*/
  font-size: 18pt;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  -webkit-font-smoothing: none;
}

.album .thumbnail {
  height: 90%;
  overflow: hidden;
}

.album .thumbnail .border {
  margin:auto;
  width:95%;
  position:relative;
  background: white;
  padding: 4px;
}

.album .thumbnail .border img {
  margin:auto;
  width:100%;
}

#top_link {
  font-family: 'Montserrat Subrayada', sans-serif;
  font-size: 12pt;
  font-weight: bold;
}